
.parentDiv{
    width: 100%;
    background: white;
    height: 50vh;
    overflow: hidden;
    .handsontable{
        table.htCore{
            table-layout: auto;
            border: 1px solid #ddd;
            .headerCell{
                white-space: nowrap;
                padding: 3px 10px;
                font-weight: bold;
                font-size: 13px;
            }
            th {
                background: #ddd;
                border:none;
                padding: 3px 10px;
                font-size: 13px;
            }
            td{
                padding: 3px 5px;
                font-size: 12px;
            }
        }
    }
}

.hiddenHeader{
    display: none;
}
