#ms-planning{
    .parentDiv{
        height: ~"calc(100% - 18vh)";

        width: 100%;
        background: white;
        // height: 78vh;
        overflow: hidden;
        border-top: 1px solid #777;
        .handsontable{
            font-family: Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;

            table.htCore{
                border-right: 2px solid #999;
                .headerCell{
                    padding: 3px 8px;
                    font-weight: bold;
                    font-size: 12px;
                    color: #fff;
                    background: #222;
                    border-color:#999;
                    word-wrap: break-word;
                }
                thead{
                    th .relative {
                        padding: 0 !important;
                    }
                    tr:first-child th {
                      border: none;
                      border-bottom: 1px solid @ssense_grey;
                    }
                    tr:last-child th{
                        border-right: 1px solid @ssense_grey;
                    }
                }
                td{
                    padding: 3px 5px;
                    font-size: 12px;
                    white-space: pre;
                }
                th, tbody tr td:first-of-type{
                    border-top: none;
                    color: #fff;
                    background: @ssense_black;
                    font-size: 11px;
                    font-weight: normal;
                }
                thead th{
                    padding: 6px;
                }
                tbody th{
                    padding: 3px 0;
                    border-bottom-color: @ssense_grey;
                    border-right: 1px solid @ssense_grey;
                }
                td.currentRow, td.currentCol{
                    background: #f1f1f1;
                }
                .current{
                    background: #ddd;
                }
                tbody tr{
                    td:nth-child(-n+5) {
                        background: #f7f7f7;
                    }
                    td:nth-child(1){
                        background: #222;
                    }
                }
            }
            td:not(.htDimmed).htNumeric {
                color: @ssense_black !important;
                font-weight: bold;
                // background-color: #eef9ed;
            }
            td {
                border-color: #ddd;
                &.leftHandColors{
                    background-color: #f4f4f4;
                }
                &.cellNA {
                    color: #777 !important;
                }
                &.htDimmed.htNumeric {
                    color: @ssense_grey;
                }
            }
            .ht_clone_top_left_corner {
              tr:last-child th{
                  border-right: 1px solid @ssense_grey;
                  border-left: none;
              }
            }
            .leftCellBorder{
                border-left: 2px solid #999;
            }
            .bottomCellBorder{
                border-bottom: 2px solid #999;
            }
            .metricCell{
                padding-right: 20px !important;
            }
            .cellNA{
                text-align: right;
            }
            .ht_clone_left td {
              border-right: none;
              // border-bottom: 1px solid @ssense_grey;
            }
        }
    }

    .spinDiv, .loadingOverlay{
        text-align: center;
        padding: 50px 0;
        color: @ssense_black;
        .ant-spin-dot i {
          background-color: @ssense_black;
        }
    }
    .loadingOverlay {
        position: absolute;
        z-index: 99999;
        background: rgba(255,255,255,0.8);
        padding: 0;
        width: 85%;
        height:85%;
        .ant-spin {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .hiddenHeader{
        display: none;
    }
}

.refreshLoad{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 10000;
}
