
.parentDiv{
    width: 100%;
    background: white;
    height: 50vh;
    overflow: hidden;
    .handsontable{
        table.htCore{
            table-layout: auto;
            border: 1px solid #ddd;
            .headerCell{
                white-space: nowrap;
                padding: 3px 10px;
                font-weight: bold;
                font-size: 13px;
            }
            th {
                background: #ddd;
                border:none;
                padding: 3px 10px;
                font-size: 13px;
            }
            td{
                padding: 3px 5px;
                font-size: 12px;
            }
        }
    }
}

.hiddenHeader{
    display: none;
}

.handsontable td {
    text-align: center;
    // vertical-align: middle !important;
    border-top: 1px solid #fff !important;
    border-left: 1px solid #fff !important;
    border-right: 1px solid #fff !important;
    border-bottom: 1px solid #fff !important;
    &.grey {
        border-top: 1px solid #DCDCDC !important;
        border-left: 1px solid #DCDCDC !important;
        border-right: 1px solid #DCDCDC !important;
        border-bottom: 1px solid #DCDCDC !important;
    }
}

.ht_clone_left.handsontable {
    top: 2px !important;
    td {
        text-align: left;
        padding: 3px 10px;
    }
}

.ht_clone_top_left_corner.handsontable td {
    text-align: left;
}

.bold {
    font-weight: bold;
}
