#ms-planning{
    .ant-btn-xl {
      padding: 6px 20px 6px 15px;
      font-size: 1.8rem;
      border-radius: 4px;
    }
    .ant-layout-sider, .ant-menu-dark{
        background-color: @ssense_black;
    }
    .ant-layout-sider:not(.ant-layout-sider-collapsed) {
        flex: 0 0 260px !important;
        max-width: 260px !important;
        min-width: 200px !important;
        width: 260px !important;
    }
    .ant-table table{
        margin: 10px 0;
        border: 1px solid #eee;
    }

    .ant-tabs-bar{
        margin-bottom: 0;
    }

    .ant-layout-header .trigger:hover {
        color: #999;
    }

    .ant-table-thead, .ant-table-tbody{
        font-size: 1.2rem;
    }
    .ant-table-tbody{
        // font-size: 1.4rem;
    }

    .largeIconButton {
        min-height:32px;
    }

    .ant-btn {
      border-radius: 0;
    }
    .ant-btn-primary.ant-btn-primary {
      background-color: @ssense_black;
      border-color: @ssense_black;
        a{
            color: #FFF;
        }
    }
    .ant-btn:focus,
    .ant-btn:hover {
      color: @ssense_black;
      background-color: #fff;
      border-color: @ssense_black;
    }
    .ant-btn[disabled] {
        &:hover,
        &:focus {
            color: rgba(0,0,0,.25);
            background-color: #f5f5f5;
            border-color: #d9d9d9;
        }
    }
    .ant-btn.ant-btn-primary.ant-btn-primary[disabled] {
        color: rgba(0,0,0,.25);
        background-color: #f5f5f5;
        border-color: #d9d9d9;

        &:hover,
        &:focus {
            color: rgba(0,0,0,.25);
            background-color: #f5f5f5;
            border-color: #d9d9d9;
        }
    }

    .budgetBody {
        padding-bottom: 0 !important;
    }
    main {
        padding-bottom: 0 !important;
    }
    button.ant-btn.ant-btn-lg {
        margin-left: 0!important;
        margin-right: 15px;
        margin-bottom: 15px;
    }
    .budgetList {
        list-style-position: inside;
        margin-left: 0!important;
        padding-left: 0;
        h4 {
            display: inline-block;
        }
    }
    .ant-dropdown-hidden,
    .ant-dropdown.ant-dropdown-placement-bottomLeft.ant-dropdown-hidden,
    .ant-dropdown-menu-submenu.ant-dropdown-menu-submenu-popup.ant-dropdown-menu-light.ant-dropdown-menu-submenu-placement-rightTop {
        z-index: 999;
    }

    .ant-modal-content {
        border-radius: 0;
    }

  .filterModal .ant-checkbox-group-item, .filterModal .ant-checkbox-wrapper {
        display: block;
        padding: 2px 0;
        margin-left: 0px;
    }
  .ant-radio-group {
    padding: 0px 0px 20px 25px;
  }

  .ant-checkbox-inner {
      border-radius: 0;
  }
  .ant-checkbox-checked:after {
      border-color: @ssense_black;
      border-radius: 0;
  }

  .ant-checkbox-checked .ant-checkbox-inner,
  .ant-checkbox-indeterminate .ant-checkbox-inner {
      background-color: @ssense_black;
      border-color: @ssense_black;
  }

    .ant-select-focused .ant-select-selection,
    .ant-select-selection:active, .ant-select-selection:focus,
    .ant-select-selection:hover,
    .ant-radio-checked .ant-radio-inner,
    .ant-radio-checked:after,
    .ant-radio-focused .ant-radio-inner,
    .ant-radio-wrapper:hover .ant-radio .ant-radio-inner,
    .ant-radio:hover .ant-radio-inner {
        border-color: @ssense_black;
    }
    .ant-radio-inner:after {
        background-color: @ssense_black;
    }

    .ant-select-dropdown-menu-item-active,
    .ant-select-dropdown-menu-item:hover,
    .ant-tree li .ant-node-content-wrapper:hover {
        background-color: #ddd;
    }
}
