{
  "extends": "ui-core/client-react",
  "plugins": ["react"],
  "settings": {
    'import/resolver': ['webpack', 'handsontable']
  },
  "rules": {
    "indent": [
      2,
      4,
      {
        "SwitchCase": 1,
        "MemberExpression": 1,
        "ObjectExpression": 1,
        "CallExpression": {
          "arguments": 1
        }
      }
    ],
    "no-param-reassign": ["error", { "props": false }],
    "max-len": [1, 150, 2]
  }
}
