.budgetHeader{
    padding: 20px 25px;
    border-bottom: 1px solid #ddd;
    margin: 0 -25px;
    background: #f7f7f7;
}

.budgetBody{
    padding: 0 25px 20px;
    // border-bottom: 1px solid #ddd;
    margin: 0 -25px;
}
