.budgetHeader{
    border-bottom: 1px solid #ddd;
    margin: 0 -25px;
    background: #f7f7f7;
    // height: 130px;
}
.innerHeader{
    h3{
        font-size: 16px;
    }
    .col{
        border-left: 1px solid #ccc;
        border-right: 1px solid #fff;
        padding: 10px 25px 8px;
        &:first-child{
            border:none;
        }
    }
}

.budgetBody{
    padding: 0 0 20px;
    // border-bottom: 1px solid #ddd;
    margin: 0 -25px;
    // height: calc(~"100vh - 220px");
}
