#app{
    min-height: 100%;

    .ant-layout-header {

    	.trigger {
            min-width: 80px;
            color: #fff;
    		font-size: 18px;
    		line-height: 5rem;
    		vertical-align: top;
    		padding: 0 16px;
    		cursor: pointer;
    		transition: color .3s;
            background: @ssense_black;
            margin-right: 25px;
            &.anticon-menu-fold{
                background: #fff;
                color: @ssense_black;
            }
    	}

    	.trigger:hover {
    		color: #ccc;
    	}

    	.ant-menu {
    		margin-left: auto;
    		line-height: 63px;
    	}

    	.ant-dropdown-link {
    		height: 100%;
    		width: 100%;
    	}
    }

    .headerContent {
        display: flex;
        align-items: center;
        width: 100%;
        > svg {
            width: 10rem;
            margin-right: 3rem;
            fill: #fff;
                fill: #000;
        }
        h1{
            font-size: 2.3rem;
            color: #fff;
                color: @ssense_black;
            margin: 0;
        }
        > .ant-menu{
            background: none;
        }
        .ant-menu-item, .ant-menu-submenu-title{
            color: #FFF;
        }
        .ant-menu-horizontal{
            z-index: 1000;
        }
        .ant-menu-submenu{
            font-size: 1.4rem;
        }
    }
}
