#app{
    min-height: 100%;

    .ant-layout-header {

        background-color: @palette-grey-900;
        z-index: 100;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
        padding: 0 20px;
        height: 64px;
        color: white;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    	display:flex;
    	flex-direction: row;
        > i{
            width: 64px;
            color: #fff;
        }


    	.trigger {
    		font-size: 18px;
    		line-height: 64px;
    		vertical-align: top;
    		padding: 0 16px;
    		cursor: pointer;
    		transition: color .3s;
    	}

    	.trigger:hover {
    		color: #108ee9;
    	}

    	.ant-menu {
    		margin-left: auto;
    		line-height: 63px;
    	}

    	.ant-dropdown-link {
    		height: 100%;
    		width: 100%;
    	}
    }

    .headerContent {
        display: flex;
        align-items: center;
        width: 100%;
        > svg {
            width: 10rem;
            margin-right: 3rem;
            fill: #000;
            fill: #fff;
        }
        h1{
            font-size: 2.3rem;
            color: @ssense_black;
            color: #fff;
            margin: 0;
        }
        > .ant-menu{
            background: none;
        }
        .ant-menu-item, .ant-menu-submenu-title{
            color: #FFF;
        }
        .ant-menu-horizontal{
            z-index: 1000;
        }
        .ant-menu-submenu{
            font-size: 1.4rem;
        }
    }
}
